<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <button type="button" ng-click="add()" class="btn btn-success" style="float:left;margin-top:45px;margin-left:20px">إضافة عمل خيري</button>
      </select>
      <h1 class="page-header">الأعمال الخيرية</h1>
    </div>
    <!-- /.col-lg-12 -->

  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">

        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
              <thead>
                <tr>
                  <th>العنوان</th>
                  <th>النص</th>
                  <th>الصورة</th>
                  <th>PDF</th>
                  <th>Word</th>
                  <th>HTML</th>
                  <th>الخيارات</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd gradeX" ng-repeat="volunteer in volunteers">
                  <td ng-if="volunteer.title">{{volunteer.title}}</td>
                  <td ng-if="!volunteer.title">لا يوجد</td>
                  <td ng-if="volunteer.text">{{volunteer.text | limitTo: 200}} ..</td>
                  <td ng-if="!volunteer.text">لا يوجد</td>
                  <td>
                    <button type="button" class="btn btn-info btn-xs" ng-disabled="!volunteer.image" ng-click="openImage(volunteer.image)">إظهار</button>
                  </td>
                  <td>
                    <button type="button" class="btn btn-info btn-xs" ng-disabled="!volunteer.pdf" ng-click="openTab(volunteer.pdf)">تحميل</button>
                  </td>
                  <td>
                    <button type="button" class="btn btn-info btn-xs" ng-disabled="!volunteer.word" ng-click="openTab(volunteer.word)">تحميل</button>
                  </td>
                  <td>
                    <button type="button" class="btn btn-info btn-xs" ng-disabled="!volunteer.html" ng-click="openTab(volunteer.html)">تحميل</button>
                  </td>
                  <td class="center">
                    <button type="button" class="btn btn-info btn-xs" ng-click="edit($index)">تعديل</button>
                    <button type="button" class="btn btn-warning btn-xs" ng-click="delete($index)">حذف</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.table-responsive -->

        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
</div>


<script type="text/ng-template" id="add">
  <h3 style="text-align: center;">إضافة عمل خيري</h3>
  <br>

  <label style="font-family: JuneBug;">العنوان :</label>
  <input class="form-control" ng-model="newArticle.title">
  <br>

  <label>النص :</label>
  <textarea class="form-control" rows="2" ng-model="newArticle.text"></textarea>
  <br>

  <label>رابط الصورة :</label>
  <div class="row">
    <div class="col-lg-10">
      <input class="form-control" ng-model="newArticle.image">
    </div>
    <div class="col-lg-2">
      <div class="btn btn-outline btn-info btn-block" ngf-select ng-model="file" name="file" ngf-accept="'image/*'"
        ngf-max-size="20MB" ngf-min-height="100" ngf-change="upload(file, newArticle, 'image', loading)">إختر ملف</div>
    </div>
  </div>
  <br>

  <label>رابط الـ PDF :</label>
  <div class="row">
    <div class="col-lg-10">
      <input class="form-control" ng-model="newArticle.pdf">
    </div>
    <div class="col-lg-2">
      <div class="btn btn-outline btn-info btn-block" ngf-select ng-model="file" name="file" accept=".pdf"
        ngf-max-size="20MB" ngf-min-height="100" ngf-change="upload(file, newArticle, 'pdf', loading)">إختر ملف</div>
    </div>
  </div>
  <br>

  <label>رابط الـ Word :</label>
  <div class="row">
    <div class="col-lg-10">
      <input class="form-control" ng-model="newArticle.word">
    </div>
    <div class="col-lg-2">
      <div class="btn btn-outline btn-info btn-block" ngf-select ng-model="file" name="file" accept=".doc, .docx"
        ngf-max-size="20MB" ngf-min-height="100" ngf-change="upload(file, newArticle, 'word', loading)">إختر ملف</div>
    </div>
  </div>
  <br>

  <label>رابط الـ HTML :</label>
  <div class="row">
    <div class="col-lg-12">
      <input class="form-control" ng-model="newArticle.html">
    </div>
  </div>
  <br>

  <div style="text-align: center;">
    <button type="button" class="btn btn-info btn-circle btn-lg" ng-click="ok()">
      <i class="fa fa-check"></i>
    </button>
    <button type="button" class="btn btn-warning btn-circle btn-lg" ng-click="exit()">
      <i class="fa fa-times"></i>
    </button>
    <img src="assets/images/584b607f5c2ff075429dc0e7b8d142ef.gif" style="width:50px;height:50px;float:left;" ng-if="loading">
  </div>
</script>

<script type="text/ng-template" id="edit">
  <h3 style="text-align: center;">تعديل العمل الخيري</h3>
  <br>

  <label style="font-family: JuneBug;">العنوان :</label>
  <input class="form-control" ng-model="currentArticle.title">
  <br>

  <label>النص :</label>
  <textarea class="form-control" rows="2" ng-model="currentArticle.text"></textarea>
  <br>

  <label>رابط الصورة :</label>
  <div class="row">
    <div class="col-lg-10">
      <input class="form-control" ng-model="currentArticle.image">
    </div>
    <div class="col-lg-2">
      <div class="btn btn-outline btn-info btn-block" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'"
        ngf-max-size="20MB" ngf-min-height="100" ngf-change="upload(file, currentArticle, 'image', loading)">إختر ملف</div>
    </div>
  </div>
  <br>

  <label>رابط الـ PDF :</label>
  <div class="row">
    <div class="col-lg-10">
      <input class="form-control" ng-model="currentArticle.pdf">
    </div>
    <div class="col-lg-2">
      <div class="btn btn-outline btn-info btn-block" ngf-select ng-model="file" name="file" accept=".pdf" 
        ngf-max-size="20MB" ngf-min-height="100" ngf-change="upload(file, currentArticle, 'pdf', loading)">إختر ملف</div>
    </div>
  </div>
  <br>

  <label>رابط الـ Word :</label>
  <div class="row">
    <div class="col-lg-10">
      <input class="form-control" ng-model="currentArticle.word">
    </div>
    <div class="col-lg-2">
      <div class="btn btn-outline btn-info btn-block" ngf-select ng-model="file" name="file" accept=".doc, .docx"
        ngf-max-size="20MB" ngf-min-height="100" ngf-change="upload(file, currentArticle, 'word', loading)">إختر ملف</div>
    </div>
  </div>
  <br>

  <label>رابط الـ HTML :</label>
  <div class="row">
    <div class="col-lg-12">
      <input class="form-control" ng-model="currentArticle.html">
    </div>
  </div>
  <br>

  <div style="text-align: center;">
    <button type="button" class="btn btn-info btn-circle btn-lg" ng-click="ok()">
      <i class="fa fa-check"></i>
    </button>
    <button type="button" class="btn btn-warning btn-circle btn-lg" ng-click="exit()">
      <i class="fa fa-times"></i>
    </button>
    <img src="assets/images/584b607f5c2ff075429dc0e7b8d142ef.gif" style="width:50px;height:50px;float:left;" ng-if="loading">
  </div>
</script>

<script type="text/ng-template" id="delete">
  <h3 style="text-align: center;">تأكيد الحذف </h3>
  <br>
  <div style="text-align: center;">
    <button type="button" class="btn btn-info btn-circle btn-lg" ng-click="ok()">
      <i class="fa fa-check"></i>
    </button>
    <button type="button" class="btn btn-warning btn-circle btn-lg" ng-click="exit()">
      <i class="fa fa-times"></i>
    </button>
    <img src="assets/images/584b607f5c2ff075429dc0e7b8d142ef.gif" style="width:50px;height:50px;float:left" ng-if="loading">
  </div>
</script>

<script type="text/ng-template" id="openImage">
  <div style="text-align: center;">
    <br>
    <img ng-src="{{image}}" style="max-width: 1150px;">
  </div>
</script>