<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">تصحيح بيانات الجوامع</h1>
    </div>
    <!-- /.col-lg-12 -->

  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">

        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
              <thead>
                <tr>
                  <th>الإسم</th>
                  <th>الصورة</th>
                  <th>يقبل النساء</th>
                  <th>به ماء ساخن</th>
                  <th>به مكيف</th>
                  <th>فئته</th>
                  <th>الخيارات</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd gradeX" ng-repeat="mosque in mosques">
                  <td ng-if="mosque.name">{{mosque.name}}</td>
                  <td ng-if="!mosque.name">لا يوجد</td>
                  <td>
                    <button type="button" class="btn btn-info btn-xs" ng-disabled="!mosque.photo" ng-click="openImage(mosque.photo)">إظهار</button>
                  </td>

                  <td ng-if="mosque.woman">نعم</td>
                  <td ng-if="!mosque.woman">لا</td>


                  <td ng-if="mosque.hotWater">نعم</td>
                  <td ng-if="!mosque.hotWater">لا</td>

                  <td ng-if="mosque.airconditioner">نعم</td>
                  <td ng-if="!mosque.airconditioner">لا</td>

                  <td ng-if="mosque.mosque">جامع</td>
                  <td ng-if="!mosque.mosque">مسجد</td>

                  <td class="center">
                    <button type="button" class="btn btn-info btn-xs" ng-click="edit($index)">تعديل</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.table-responsive -->

        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
</div>

<script type="text/ng-template" id="edit">
  <h3 style="text-align: center;">تعديل بيانات الجامع</h3>
  <br>

  <label style="font-family: JuneBug;">الإسم :</label>
  <input class="form-control" ng-model="currentArticle.name">
  <br>

  <label>رابط الصورة :</label>
  <div class="row">
    <div class="col-lg-10">
      <input class="form-control" ng-model="currentArticle.photo">
    </div>
    <div class="col-lg-2">
      <div class="btn btn-outline btn-info btn-block" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'"
        ngf-max-size="20MB" ngf-min-height="100" ngf-change="upload(file, currentArticle, 'image', loading)">إختر ملف</div>
    </div>
  </div>
  <br>

  <label>يقبل النساء :</label>
  <label class="radio-inline">
      <input type="radio" name="optionsRadiosInline1" id="optionsRadiosInline1" ng-value="true" ng-model="currentArticle.woman">نعم
  </label>
  <label class="radio-inline">
    <input type="radio" name="optionsRadiosInline1" id="optionsRadiosInline2" ng-value="false" ng-model="currentArticle.woman">لا
  </label>
  <br>
  <br>
  
  <label>به ماء ساخن :</label>
  <label class="radio-inline">
      <input type="radio" ng-model="currentArticle.hotWater" ng-value="true">نعم
  </label>
  <label class="radio-inline">
    <input type="radio" ng-model="currentArticle.hotWater" ng-value="false">لا
  </label>
  <br>
  <br>
  
  <label>به مكيف :</label>
  <label class="radio-inline">
      <input type="radio" ng-model="currentArticle.airconditioner" name="optionsRadiosInline3" id="optionsRadiosInline1" ng-value="true">نعم
  </label>
  <label class="radio-inline">
    <input type="radio" ng-model="currentArticle.airconditioner" name="optionsRadiosInline3" id="optionsRadiosInline2" ng-value="false">لا
  </label>
  <br>
  <br>
  
  <label>فئته :</label>
  <label class="radio-inline">
      <input type="radio" ng-model="currentArticle.mosque" name="optionsRadiosInline4" id="optionsRadiosInline1" ng-value="true">جامع
  </label>
  <label class="radio-inline">
    <input type="radio" ng-model="currentArticle.mosque" name="optionsRadiosInline4" id="optionsRadiosInline2" ng-value="false">مسجد
  </label>
  <br>
  <br>
  
  <div style="text-align: center;">
    <button type="button" class="btn btn-info btn-circle btn-lg" ng-click="ok()">
      <i class="fa fa-check"></i>
    </button>
    <button type="button" class="btn btn-warning btn-circle btn-lg" ng-click="exit()">
      <i class="fa fa-times"></i>
    </button>
    <img src="assets/images/584b607f5c2ff075429dc0e7b8d142ef.gif" style="width:50px;height:50px;float:left;" ng-if="loading">
  </div>
</script>

<script type="text/ng-template" id="delete">
  <h3 style="text-align: center;">تأكيد الحذف </h3>
  <br>
  <div style="text-align: center;">
    <button type="button" class="btn btn-info btn-circle btn-lg" ng-click="ok()">
      <i class="fa fa-check"></i>
    </button>
    <button type="button" class="btn btn-warning btn-circle btn-lg" ng-click="exit()">
      <i class="fa fa-times"></i>
    </button>
    <img src="assets/images/584b607f5c2ff075429dc0e7b8d142ef.gif" style="width:50px;height:50px;float:left" ng-if="loading">
  </div>
</script>

<script type="text/ng-template" id="openImage">
  <div style="text-align: center;">
    <br>
    <img ng-src="{{image}}" style="max-width: 1150px;">
  </div>
</script>