<!DOCTYPE html>
<html lang="en">
<html ng-app="adminApp" ng-controller="adminController">

<head>
	<script src="lib/angular/angular.min.js"></script>
	<script src="lib/angular-route/angular-route.min.js"></script>
	<script src="lib/ng-file-upload/ng-file-upload.min.js"></script>
	<script src="lib/ng-file-upload/ng-file-upload-shim.min.js"></script>
	<script src="lib/ng-dialog/js/ngDialog.min.js"></script>

	<link rel="stylesheet" href="lib/ng-dialog/css/ngDialog.min.css">
	<link rel="stylesheet" href="lib/ng-dialog/css/ngDialog-theme-default.min.css">

	<script src="app.js"></script>
	<script src="components/mosques/mosquesController.js"></script>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>لوحة التحكم</title>

	<!-- Bootstrap Core CSS -->
	<link href="assets/css/bootstrap.min.css" rel="stylesheet">

	<!-- MetisMenu CSS -->
	<link href="assets/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

	<!-- Timeline CSS -->
	<link href="assets/css/plugins/timeline.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="assets/css/sb-admin-2.css" rel="stylesheet">

	<!-- Morris Charts CSS -->
	<link href="assets/css/plugins/morris.css" rel="stylesheet">

	<!-- Custom Fonts -->
	<link href="assets/css/font-awesome/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.assets/js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

	<div id="wrapper">

		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
			<div class="navbar-header">
				<a class="navbar-brand" href="#/users">لوحة التحكم</a>
			</div>

			<!-- /.navbar-top-links -->

			<div class="navbar-default sidebar" role="navigation">
				<div class="sidebar-nav navbar-collapse">
					<ul class="nav" id="side-menu">
						<li>
							<a href="#/">
								<i class="fa fa-gift fa-fw"></i> تصحيح بيانات الجوامع</a>
						</li>
						<li>
							<a href="#/dourous">
								<i class="fa fa-gift fa-fw"></i> إدارة الدروس</a>
						</li>

						<a ng-click="logout()" class="btn btn-lg btn-success btn-block">تسجيل الخروج</a>

					</ul>
				</div>
				<!-- /.sidebar-collapse -->
			</div>
			<!-- /.navbar-static-side -->
		</nav>

		<!-- Page Content -->
		<div ng-view="">
		</div>
		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->

	<!-- jQuery Version 1.11.0 -->
	<script src="assets/js/jquery-1.11.0.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="assets/js/bootstrap.min.js"></script>

	<!-- Metis Menu Plugin JavaScript -->
	<script src="assets/js/metisMenu/metisMenu.min.js"></script>

	<!-- Morris Charts JavaScript -->
	<script src="assets/js/raphael/raphael.min.js"></script>
	<script src="assets/js/morris/morris.min.js"></script>

	<!-- Custom Theme JavaScript -->
	<script src="assets/js/sb-admin-2.js"></script>

</body>

<style>
	@font-face {
		font-family: JuneBug;
		src: url('assets/fonts/DroidSansArabic.ttf');
	}

	body,
	label,
	h3,
	div {
		display: block;
		padding: 0px;
		font-family: JuneBug;
	}
</style>

</html>