<!DOCTYPE html>
<html lang="en">
<html ng-app="loginApp" ng-controller="loginController">

<head>

	<script src="lib/angular/angular.min.js"></script>

	<script src="components/login/loginApp.js"></script>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>لوحة التحكم</title>

	<!-- Bootstrap Core CSS -->
	<link href="assets/css/bootstrap.min.css" rel="stylesheet">

	<!-- MetisMenu CSS -->
	<link href="assets/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

	<!-- Timeline CSS -->
	<link href="assets/css/plugins/timeline.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="assets/css/sb-admin-2.css" rel="stylesheet">

	<!-- Morris Charts CSS -->
	<link href="assets/css/plugins/morris.css" rel="stylesheet">

	<!-- Custom Fonts -->
	<link href="assets/css/font-awesome/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.assets/js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="login-panel panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">تسجيل الدخول</h3>
					</div>
					<div class="panel-body">
						<form role="form">
							<fieldset>
								<div class="form-group">
									<input class="form-control" placeholder="E-mail" name="email" type="email" autofocus, ng-model="email">
								</div>
								<div class="form-group">
									<input class="form-control" placeholder="Password" name="password" type="password" value="" , ng-model="password">
								</div>
								<!-- Change this to a button or input when using this as a form -->
								<a ng-click="login()" class="btn btn-lg btn-success btn-block">دخول</a>
								<br>
								<div class="alert alert-danger alert-dismissable" ng-if="wrongPassword">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
									خطأ في البريد الإلكتروني أو كلمة المرور
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- jQuery Version 1.11.0 -->
	<script src="assets/js/jquery-1.11.0.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="assets/js/bootstrap.min.js"></script>

	<!-- Metis Menu Plugin JavaScript -->
	<script src="assets/js/metisMenu/metisMenu.min.js"></script>

	<!-- Custom Theme JavaScript -->
	<script src="assets/js/sb-admin-2.js"></script>

</body>

<style>
	@font-face {
		font-family: JuneBug;
		src: url('assets/fonts/DroidSansArabic.ttf');
	}

	body {
		display: block;
		padding: 0px;
		font-family: JuneBug;
	}
</style>

</html>